*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(137, 43, 226, 0.829);



}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    color: white;
    font-size: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 15px 15px;
    text-align: center;

}
#result{
    font-size: 20px;
    color: white;
    text-align: center;
}
#result span{
    color: rgb(253, 215, 2);
}

.calculator{
    background-color:rgba(255, 255, 255, 0.3) ;
    margin: 30px 0;
    padding: 35px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    
}
.calculator input{
    margin-right: 20px;
    padding: 14px 30px; 
    border: 0;
    outline: 0;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
    width: 250px;

}

.calculator button{
    background:  rgba(12, 197, 52, 0.829);
    border: 0;
     outline: 0;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: 500;
    color: white;
    font-size: 18px;
}
.calculator input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}



@media (max-width: 768px) {
    h1 {
        font-size: 18px;
    }

    .calculator {
        flex-direction: column;
        padding: 25px;
    }

    .calculator input {
        width: 80%;
        margin: 10px 0;
        font-size: 16px;
        padding: 12px 20px;
    }

    .calculator button {
        width: 80%;
        font-size: 16px;
        padding: 12px 20px;
    }
}










